<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>業務日付更新</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
	<h1>編集画面</h1>
	<form th:action="@{/app/{id}(id=*{id})}" th:method="put" th:object="${businessday}">
		<div class="form-group">
			<label class="control-label">ID</label>
			<input id="idDays" class="form-control" type="text" th:field="*{idDays}"></input>
		</div>
		<div class="form-group">
			<label class="control-label">会社名</label>
			<input id="name" class="form-control" type="text" th:field="*{name}"></input>
		</div>
		<div class="form-group">
			<label class="control-label">業務日付</label>
			<input id="day" class="form-control" type="text" th:field="*{day}"></input>
		</div>
		<button class="btn btn-dark" type="submit" id="updateButton">更新</button>
	</form>
	<div>
		<a class="btn btn-link" href="/app" id="backButton">一覧画面へ</a>
	</div>
</div>
</body>
</html>